::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #bfc3c6;
}

.bc-opacity0 {
    opacity: 0;
}
.bc-opacity1 {
    opacity: 1;
}

.bc-block {
    display: block;
}
.bc-hide {
    display: none;
}

.bc-text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}