.bc-loading {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.bc-loading .bc-icon {
    position: absolute;
    top: 42%;
    left: 46%;
}
.bc-loading .bc-icon .anticon {
    margin-right: 0.6rem;
}